
.vs/EngineerTips/v15/sqlite3/storage.ide
ConsoleApp1/bin/Debug/netcoreapp2.0/ConsoleApp1.deps.json
ConsoleApp1/bin/Debug/netcoreapp2.0/ConsoleApp1.dll
ConsoleApp1/bin/Debug/netcoreapp2.0/ConsoleApp1.pdb
ConsoleApp1/bin/Debug/netcoreapp2.0/ConsoleApp1.runtimeconfig.dev.json
ConsoleApp1/bin/Debug/netcoreapp2.0/ConsoleApp1.runtimeconfig.json
/EngineerTips.UI/bin/Debug/netcoreapp2.0
/EngineerTips.UI/obj
/.vs/EngineerTips/v15/.suo
/ConsoleApp1/obj
/EngineerTips.Core/obj
/EngineerTips.DAL/bin/Debug/netcoreapp2.0
/EngineerTips.DAL/obj
/EngineerTips.Infrastructure/bin/Debug/netcoreapp2.0
/EngineerTips.Infrastructure/obj
/EngineerTips.Tests/bin/Debug/netcoreapp2.0
/EngineerTips.Tests/obj
